.text-monospace {
    font-family: monospace;
}

a.hiddenLink {
    color: inherit;
    text-decoration: inherit;
}

a.hiddenLink:hover {
    text-decoration: underline;
}

.address.withActivity{
    font-weight: bold;
}

.address.err{
    color: darkred;
}

.address.unk {
    color: lightgray;
}

.address.scan {
    color: gray;
}

.address.getutxo{
    font-style: italic;
}